$white-shade     :#FFFFFF;

$body-d0-shade   :#F8F9FC;

$body-d1-shade   :#C0BFCF;

$btn-d0-shade    :#9D9DB5;

$head-d0-shade   :#192140;

$black-shade     :#10131C;

$cyan-shade      :#D7F8FF;

$yellow-shade    :#DCF10D;

$blue-shade      :#0266FF;


