$sm-margin01    : 15px;

$sm-margin02    : 20px;

$sm-margin03    : 10px;

$sm-radius01    : 6px;

$sm-height01    : 257px;

$sm-height02    : 151px;

$sm-padding01   : 20px;

$sm-padding02   : 10px;

$sm-width01     : 190px;

$sm-nav-height01: 90px;

$max-width-card : 494px;